<%-include('partials/navbar')%>
<form action="/upload" method="POST" enctype="multipart/form-data">
    <label for="uploadedFiles">Upload Files</label>
    <input type="file" name="uploadedFiles">
    <button type="submit">Upload</button>
</form>